/*
0-600px:     Phone
600-900px:   Tablet portrait
900-1200px:  Tablet landscape
1200-1800px: Where our normal style apply
1800px+:     Big desktop
*/
/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px

ORDER: Base + typography > general layout + grid > page layout > components
*/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: .9;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: .9;
    transform: translate(0); } }

@keyframes glitch-anim-1 {
  0% {
    clip-path: inset(44% 0 19% 0); }
  5% {
    clip-path: inset(43% 0 16% 0); }
  10% {
    clip-path: inset(38% 0 34% 0); }
  15% {
    clip-path: inset(90% 0 11% 0); }
  20% {
    clip-path: inset(81% 0 11% 0); }
  25% {
    clip-path: inset(12% 0 13% 0); }
  30% {
    clip-path: inset(8% 0 59% 0); }
  35% {
    clip-path: inset(43% 0 5% 0); }
  40% {
    clip-path: inset(10% 0 15% 0); }
  45% {
    clip-path: inset(59% 0 37% 0); }
  50% {
    clip-path: inset(76% 0 14% 0); }
  55% {
    clip-path: inset(33% 0 59% 0); }
  60% {
    clip-path: inset(57% 0 15% 0); }
  65% {
    clip-path: inset(5% 0 13% 0); }
  70% {
    clip-path: inset(80% 0 12% 0); }
  75% {
    clip-path: inset(33% 0 1% 0); }
  80% {
    clip-path: inset(98% 0 1% 0); }
  85% {
    clip-path: inset(32% 0 67% 0); }
  90% {
    clip-path: inset(7% 0 91% 0); }
  95% {
    clip-path: inset(67% 0 33% 0); }
  100% {
    clip-path: inset(76% 0 5% 0); } }

@keyframes glitch-anim-2 {
  0% {
    clip-path: inset(35% 0 15% 0); }
  5% {
    clip-path: inset(10% 0 62% 0); }
  10% {
    clip-path: inset(43% 0 26% 0); }
  15% {
    clip-path: inset(44% 0 49% 0); }
  20% {
    clip-path: inset(14% 0 22% 0); }
  25% {
    clip-path: inset(8% 0 28% 0); }
  30% {
    clip-path: inset(30% 0 63% 0); }
  35% {
    clip-path: inset(52% 0 28% 0); }
  40% {
    clip-path: inset(25% 0 8% 0); }
  45% {
    clip-path: inset(47% 0 21% 0); }
  50% {
    clip-path: inset(62% 0 11% 0); }
  55% {
    clip-path: inset(65% 0 29% 0); }
  60% {
    clip-path: inset(92% 0 4% 0); }
  65% {
    clip-path: inset(91% 0 8% 0); }
  70% {
    clip-path: inset(99% 0 2% 0); }
  75% {
    clip-path: inset(96% 0 5% 0); }
  80% {
    clip-path: inset(38% 0 21% 0); }
  85% {
    clip-path: inset(23% 0 26% 0); }
  90% {
    clip-path: inset(78% 0 11% 0); }
  95% {
    clip-path: inset(46% 0 19% 0); }
  100% {
    clip-path: inset(78% 0 19% 0); } }

@keyframes noise-anim-2 {
  0% {
    clip: rect(93px, 9999px, 27px, 0); }
  5% {
    clip: rect(100px, 9999px, 2px, 0); }
  10% {
    clip: rect(67px, 9999px, 66px, 0); }
  15% {
    clip: rect(20px, 9999px, 19px, 0); }
  20% {
    clip: rect(43px, 9999px, 19px, 0); }
  25% {
    clip: rect(29px, 9999px, 12px, 0); }
  30% {
    clip: rect(3px, 9999px, 35px, 0); }
  35% {
    clip: rect(32px, 9999px, 43px, 0); }
  40% {
    clip: rect(86px, 9999px, 6px, 0); }
  45% {
    clip: rect(42px, 9999px, 61px, 0); }
  50% {
    clip: rect(100px, 9999px, 59px, 0); }
  55% {
    clip: rect(28px, 9999px, 87px, 0); }
  60% {
    clip: rect(99px, 9999px, 40px, 0); }
  65% {
    clip: rect(89px, 9999px, 27px, 0); }
  70% {
    clip: rect(14px, 9999px, 70px, 0); }
  75% {
    clip: rect(95px, 9999px, 41px, 0); }
  80% {
    clip: rect(49px, 9999px, 74px, 0); }
  85% {
    clip: rect(26px, 9999px, 63px, 0); }
  90% {
    clip: rect(92px, 9999px, 53px, 0); }
  95% {
    clip: rect(52px, 9999px, 11px, 0); }
  100% {
    clip: rect(91px, 9999px, 5px, 0); } }

.fade-in {
  animation: fade-in .7s ease-out; }

@keyframes fade-in {
  0% {
    -webkit-filter: blur(24px);
    -moz-filter: blur(24px);
    -o-filter: blur(24px);
    -ms-filter: blur(24px); }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box; }
  body.before_1500 {
    margin-top: 11.1111vh;
    margin-bottom: 22.2222vh;
    margin-left: 11.1111vw;
    margin-right: 22.2222vw;
    background-color: #f0e8db;
    background-image: linear-gradient(to right, #170d0b, rgba(107, 90, 72, 0.4) 0.2%, rgba(240, 232, 219, 0.4) 10%, rgba(240, 232, 219, 0.4) 90%, rgba(107, 90, 72, 0.4) 99.8%, #170d0b 100%); }
    body.before_1500 p {
      column-count: 2;
      column-gap: 5.5vw; }
      @media only screen and (max-width: 56.25em) {
        body.before_1500 p {
          column-count: 1; } }
    body.before_1500 p:not(:last-child) {
      margin-bottom: 2.75vw; }
    body.before_1500 ::selection {
      background-color: #1c4d6d;
      color: #f0e8db; }
    body.before_1500::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.3);
      background-color: #f0e8db; }
    body.before_1500::-webkit-scrollbar {
      width: 2.5rem; }
    body.before_1500::-webkit-scrollbar-thumb {
      background-image: url(../img/move_type.jpg);
      background-size: auto;
      height: 8rem;
      border-top-left-radius: 15%;
      border-top-right-radius: 15%;
      border-bottom-left-radius: 15%;
      border-bottom-right-radius: 15%; }
  body.around_2040 {
    background-color: #02161a;
    background-image: url(../img/circuit.svg);
    background-position: center;
    background-size: 144%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      body.around_2040 {
        background-repeat: repeat;
        background-size: 274%; } }
    body.around_2040 p, body.around_2040 h1, body.around_2040 h2, body.around_2040 h3, body.around_2040 h4, body.around_2040 h5, body.around_2040 h6 {
      margin: 2.4rem 0; }

@font-face {
  font-family: 'schwabacher';
  src: url("fonts/alteschwabacher-webfont.woff2") format("woff2"), url("fonts/alteschwabacher-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'camelot';
  src: url("fonts/camelot-webfont.woff2") format("woff2"), url("fonts/camelot-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'tron';
  src: url("fonts/tr2n-webfont.woff2") format("woff2"), url("fonts/tr2n-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'electrolize';
  src: url("fonts/electrolize-regular-webfont.woff2") format("woff2"), url("fonts/electrolize-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body.before_1500 {
  font-family: "schwabacher";
  font-size: 3.3rem;
  color: #3f3529; }
  body.before_1500 h1 {
    color: #a8432f; }
  body.before_1500 h2,
  body.before_1500 h3,
  body.before_1500 h4,
  body.before_1500 h5,
  body.before_1500 h6 {
    color: #a8432f;
    margin-top: 2.75vw; }
  body.before_1500 p {
    text-align: justify;
    word-wrap: break-word;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  body.before_1500 a:link,
  body.before_1500 a:visited {
    color: #1c4d6d; }
  body.before_1500 a:hover,
  body.before_1500 a:active {
    color: #a8432f; }
  body.before_1500 > section:not(#references) > p:nth-child(odd)::first-letter,
  body.before_1500 .biblioItem:nth-child(odd) .biblioMarker {
    color: #a8432f;
    font-family: "schwabacher";
    font-size: 9rem;
    line-height: .85;
    margin-left: -.3rem;
    float: left; }
  body.before_1500 > section:not(#references) > p:nth-child(even)::first-letter,
  body.before_1500 .biblioItem:nth-child(even) .biblioMarker {
    color: #1c4d6d;
    font-family: "schwabacher";
    font-size: 9rem;
    line-height: .85;
    margin-left: -.3rem;
    float: left; }
  body.before_1500 > section:not(#references) > p:first-of-type::first-letter {
    color: #1c4d6d;
    font-family: "camelot";
    font-size: 25rem;
    line-height: .9;
    margin-left: -.3rem;
    float: left; }

body.around_2040 {
  font-family: "electrolize", sans-serif;
  font-size: 2.4rem;
  color: #cccccc; }
  body.around_2040 h1,
  body.around_2040 h2,
  body.around_2040 h3,
  body.around_2040 h4,
  body.around_2040 h5,
  body.around_2040 h6 {
    font-family: "tron";
    position: relative;
    text-shadow: 0 0 0.5rem #cccccc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none; }
    body.around_2040 h1::before, body.around_2040 h1::after,
    body.around_2040 h2::before,
    body.around_2040 h2::after,
    body.around_2040 h3::before,
    body.around_2040 h3::after,
    body.around_2040 h4::before,
    body.around_2040 h4::after,
    body.around_2040 h5::before,
    body.around_2040 h5::after,
    body.around_2040 h6::before,
    body.around_2040 h6::after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black; }
    body.around_2040 h1:before,
    body.around_2040 h2:before,
    body.around_2040 h3:before,
    body.around_2040 h4:before,
    body.around_2040 h5:before,
    body.around_2040 h6:before {
      left: .2rem;
      animation: glitch-anim-1 2s infinite linear alternate-reverse;
      background-color: black; }
    body.around_2040 h1:after,
    body.around_2040 h2:after,
    body.around_2040 h3:after,
    body.around_2040 h4:after,
    body.around_2040 h5:after,
    body.around_2040 h6:after {
      left: -.2rem;
      animation: glitch-anim-2 2s infinite linear alternate-reverse;
      background-color: black; }
  body.around_2040 a:link,
  body.around_2040 a:visited {
    color: #8af3ff;
    text-decoration: none; }
  body.around_2040 a:hover,
  body.around_2040 a:active {
    color: #aff3f6; }

body.before_1500 .play {
  position: fixed;
  bottom: 2rem;
  right: 2rem; }
  body.before_1500 .play__icon {
    width: 5rem;
    height: 5rem; }

.btn, .btn:link, .btn:visited {
  padding: .5rem;
  border-radius: 50%;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(63, 53, 41, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(63, 53, 41, 0.2); }

.btn:focus {
  outline: none; }

.btn--blue {
  background-color: #1c4d6d; }
  .btn--blue::after {
    background-color: #1c4d6d; }
  .btn--blue.changed::after {
    background-color: #a8432f; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

pre {
  background-color: #cccccc;
  white-space: pre-wrap; }

.box {
  position: relative;
  width: 30px;
  height: 30px;
  background: #e5e5e5;
  border-radius: 50%;
  transform-origin: 15px 15px; }

.eye {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 4px;
  top: 10px;
  background: black;
  border-radius: 50%; }

body.before_1500 figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2.75vw;
  margin-top: 2.75vw;
  border-style: solid;
  border-width: 10rem;
  border-image-source: url(../img/medieval-frame.svg);
  border-image-slice: 100;
  border-image-outset: 1rem;
  border-image-repeat: repeat; }
  @media only screen and (max-width: 75em) {
    body.before_1500 figure {
      flex-direction: column; } }
  @media only screen and (max-width: 56.25em) {
    body.before_1500 figure {
      border-style: solid;
      border-width: 1rem;
      border-image-source: url(../img/border-image.svg);
      border-image-slice: 10;
      border-image-repeat: repeat;
      margin-bottom: 5.5vw; } }
  body.before_1500 figure img {
    width: calc(30.35vw - 11rem);
    filter: sepia(50%); }
    @media only screen and (max-width: 75em) {
      body.before_1500 figure img {
        width: calc(66.6667vw - 22rem);
        margin-bottom: 2.75vw; } }
    @media only screen and (max-width: 56.25em) {
      body.before_1500 figure img {
        width: calc(66.6667vw - 4rem); } }
  body.before_1500 figure figcaption p {
    column-count: 1;
    margin-left: 5.5vw; }
    @media only screen and (max-width: 75em) {
      body.before_1500 figure figcaption p {
        margin-left: 0; } }

body.around_2040 figure {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 2.4rem auto;
  box-shadow: 0.24rem 0.24rem 0.24rem #cccccc; }
  body.around_2040 figure img {
    width: 100%;
    height: auto; }

body.before_1500 table {
  font-size: inherit;
  width: 64.6667vw;
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    body.before_1500 table {
      font-size: 35%; } }

body.before_1500 table, body.before_1500 th, body.before_1500 td {
  border: 1rem solid transparent;
  border-image-source: url(../img/border-image.svg);
  border-image-slice: 10;
  border-image-repeat: repeat;
  text-align: center;
  padding: 1rem; }
  @media only screen and (max-width: 56.25em) {
    body.before_1500 table, body.before_1500 th, body.before_1500 td {
      border: 1px solid black;
      border-image-source: none;
      border-collapse: collapse; } }

body.before_1500 table tr:hover {
  background-color: #1c4d6d;
  color: #f0e8db; }

body.before_1500 table caption {
  border-top-style: solid;
  border-top-width: 15rem;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-image-source: url(../img/medieval-frame.svg);
  border-image-slice: 150;
  border-image-repeat: repeat;
  margin-top: 2.75vw;
  padding: 1rem; }
  @media only screen and (max-width: 56.25em) {
    body.before_1500 table caption {
      border-top-style: solid;
      border-top-width: 1rem;
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      border-image-source: url(../img/border-image.svg);
      border-image-slice: 10;
      border-image-repeat: repeat; } }

body.before_1500 table caption p {
  column-count: 1; }

body.around_2040 table {
  font-size: 1.8rem;
  margin: 2.4rem auto;
  box-shadow: .24rem .24rem .24rem white; }
  body.around_2040 table th, body.around_2040 table td {
    text-align: center;
    padding: .72rem; }
  body.around_2040 table tr:hover {
    background-color: #cccccc;
    color: black; }

body.around_2040 .foot {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  animation: 1s ease-out 0s 1 moveInBottom;
  --margin-hor: calc((100% - 72rem) / 2);
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, calc(var(--margin-hor) + 72rem + 1rem) 0%, calc(var(--margin-hor) + 72rem) 23%, var(--margin-hor) 23%, calc(var(--margin-hor) - 1rem) 0%, 0% 0%); }
  body.around_2040 .foot__content {
    width: 72rem;
    font-size: 48%;
    text-align: center; }
    body.around_2040 .foot__content p:first-child {
      margin-top: 3.6rem;
      margin-bottom: 0; }
    body.around_2040 .foot__content p:last-child {
      margin: 1.2rem 0; }
  body.around_2040 .foot::after {
    content: "\\\\";
    font-family: "tron";
    color: #fae127;
    letter-spacing: -.5rem;
    text-shadow: 0 0 0.5rem #cccccc;
    display: inline-block;
    position: absolute;
    top: 0;
    left: calc(var(--margin-hor) - 2.4rem); }
  body.around_2040 .foot::before {
    content: "//";
    font-family: "tron";
    color: #fae127;
    letter-spacing: -.5rem;
    text-shadow: 0 0 0.5rem #cccccc;
    display: inline-block;
    position: absolute;
    top: 0;
    left: calc(var(--margin-hor) + 72rem + .2rem); }
  @media only screen and (max-width: 37.5em) {
    body.around_2040 .foot {
      clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 97% 0%, 96% 23%, 4% 23%, 3% 0%, 0% 0%); }
      body.around_2040 .foot::after {
        content: "\\\\";
        font-family: "tron";
        color: #fae127;
        letter-spacing: -.5rem;
        text-shadow: 0 0 0.5rem #cccccc;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0; }
      body.around_2040 .foot::before {
        content: "//";
        font-family: "tron";
        color: #fae127;
        letter-spacing: -.5rem;
        text-shadow: 0 0 0.5rem #cccccc;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 96%; }
      body.around_2040 .foot__content {
        width: auto; } }

body.before_1500 #Cover .byline {
  border-style: solid;
  border-width: 1rem;
  border-image-source: url(../img/border-image.svg);
  border-image-slice: 10;
  border-image-repeat: repeat;
  margin: 5.5vw 0; }

body.before_1500 #Cover .label {
  color: #1c4d6d;
  font-weight: 700; }

body.before_1500 #Cover p {
  text-align: center; }

body.before_1500 #Cover,
body.before_1500 #Summary {
  padding: 2.75vw;
  margin-bottom: 5.5vw;
  border-style: solid;
  border-width: 10rem;
  border-image-source: url(../img/medieval-frame.svg);
  border-image-slice: 100;
  border-image-outset: 1rem;
  border-image-repeat: repeat; }
  @media only screen and (max-width: 56.25em) {
    body.before_1500 #Cover,
    body.before_1500 #Summary {
      border-style: solid;
      border-width: 1rem;
      border-image-source: url(../img/border-image.svg);
      border-image-slice: 10;
      border-image-repeat: repeat; } }
  body.before_1500 #Cover p,
  body.before_1500 #Summary p {
    column-count: 1; }

body.around_2040 {
  height: 100vh;
  overflow: hidden; }
  body.around_2040 .container {
    overflow: auto; }
  body.around_2040 .tablet {
    width: 72rem;
    background-color: black;
    padding: 2.4rem; }
    body.around_2040 .tablet ::selection {
      color: #02161a;
      background-color: #fae127; }
    body.around_2040 .tablet::-webkit-scrollbar {
      width: 1rem;
      height: 1rem;
      background-color: #02161a; }
    body.around_2040 .tablet::-webkit-scrollbar-thumb {
      border: 1px solid #fae127; }
    @media only screen and (max-width: 37.5em) {
      body.around_2040 .tablet {
        width: 100vw;
        margin: 2.4vw 0;
        overflow: auto; }
        body.around_2040 .tablet::-webkit-scrollbar {
          width: 0;
          height: 0;
          background-color: transparent; }
        body.around_2040 .tablet::-webkit-scrollbar-thumb {
          border: none; } }

body.around_2040 .nav {
  font-family: "tron";
  text-shadow: 0 0 0.5rem #cccccc;
  background-color: black;
  width: 100%;
  padding: 1.2rem 0 2.4rem 0;
  display: flex;
  justify-content: center;
  position: relative;
  animation: 1s ease-out 0s 1 moveInTop;
  --margin-hor: calc((100% - 72rem) / 2);
  clip-path: polygon(0 100%, calc(var(--margin-hor) - 1rem) 100%, var(--margin-hor) 77%, calc(var(--margin-hor) + 72rem) 77%, calc(var(--margin-hor) + 72rem + 1rem) 100%, 100% 100%, 100% 0, 0 0); }
  body.around_2040 .nav::after {
    content: "//";
    font-family: "tron";
    color: #fae127;
    letter-spacing: -.5rem;
    text-shadow: 0 0 0.5rem #cccccc;
    display: inline-block;
    position: absolute;
    bottom: -.6rem;
    left: calc(var(--margin-hor) - 2.4rem); }
  body.around_2040 .nav::before {
    content: "\\\\";
    font-family: "tron";
    color: #fae127;
    letter-spacing: -.5rem;
    text-shadow: 0 0 0.5rem #cccccc;
    display: inline-block;
    position: absolute;
    bottom: -.6rem;
    left: calc(var(--margin-hor) + 72rem + .2rem); }
  @media only screen and (max-width: 37.5em) {
    body.around_2040 .nav {
      clip-path: polygon(0 100%, 3% 100%, 4% 85%, 96% 85%, 97% 100%, 100% 100%, 100% 0, 0 0); }
      body.around_2040 .nav::after {
        content: "//";
        font-family: "tron";
        color: #fae127;
        letter-spacing: -.5rem;
        text-shadow: 0 0 0.5rem #cccccc;
        display: inline-block;
        position: absolute;
        bottom: -.6rem;
        left: 0; }
      body.around_2040 .nav::before {
        content: "\\\\";
        font-family: "tron";
        color: #fae127;
        letter-spacing: -.5rem;
        text-shadow: 0 0 0.5rem #cccccc;
        display: inline-block;
        position: absolute;
        bottom: -.6rem;
        left: 96%; } }
  body.around_2040 .nav__bar {
    width: 72rem;
    list-style: none;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      body.around_2040 .nav__bar {
        flex-wrap: wrap;
        justify-content: center; } }
  body.around_2040 .nav__item {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none; }
    body.around_2040 .nav__item a:link,
    body.around_2040 .nav__item a:visited {
      text-decoration: none;
      color: #cccccc; }
    body.around_2040 .nav__item a:hover,
    body.around_2040 .nav__item a:active {
      position: relative; }
      body.around_2040 .nav__item a:hover::before, body.around_2040 .nav__item a:hover::after,
      body.around_2040 .nav__item a:active::before,
      body.around_2040 .nav__item a:active::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black; }
      body.around_2040 .nav__item a:hover:before,
      body.around_2040 .nav__item a:active:before {
        left: .2rem;
        animation: glitch-anim-1 2s infinite linear alternate-reverse;
        background-color: black; }
      body.around_2040 .nav__item a:hover:after,
      body.around_2040 .nav__item a:active:after {
        left: -.2rem;
        animation: glitch-anim-2 2s infinite linear alternate-reverse;
        background-color: black; }
    body.around_2040 .nav__item:not(:first-child):not(:last-child):after {
      content: "|";
      margin: 0 2.4rem;
      color: #fae127;
      transform: translateY(-10%); }
      @media only screen and (max-width: 37.5em) {
        body.around_2040 .nav__item:not(:first-child):not(:last-child):after {
          margin: 0 4.8vw; } }
    body.around_2040 .nav__item--logo {
      flex: 1; }
      @media only screen and (max-width: 37.5em) {
        body.around_2040 .nav__item--logo {
          text-align: center;
          flex: 0 1 100%;
          margin-bottom: 2.4vw; } }
