/*
0-600px:     Phone
600-900px:   Tablet portrait
900-1200px:  Tablet landscape
1200-1800px: Where our normal style apply
1800px+:     Big desktop
*/
/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px

ORDER: Base + typography > general layout + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }
  body.before_1500 {
    margin-top: calc((100vh - 66.6667vh) / 3);
    margin-bottom: calc((100vh - 66.6667vh) / 3 * 2 - 5.5vw);
    margin-left: calc((100vw - 66.6667vw) / 3);
    margin-right: calc((100vw - 66.6667vw) / 3 * 2);
    background-color: #f0e8db;
    background-image: linear-gradient(to right, #170d0b, rgba(107, 90, 72, 0.4) 0.2%, rgba(240, 232, 219, 0.4) 10%, rgba(240, 232, 219, 0.4) 90%, rgba(107, 90, 72, 0.4) 99.8%, #170d0b 100%); }
    body.before_1500 p {
      column-count: 2;
      column-gap: 5.5vw; }
      @media only screen and (max-width: 56.25em) {
        body.before_1500 p {
          column-count: 1; } }
    body.before_1500 p:not(:last-child) {
      margin-bottom: 2.75vw; }
    body.before_1500 ::selection {
      background-color: #1c4d6d;
      color: #f0e8db; }

@font-face {
  font-family: 'schwabacher';
  src: url("fonts/alteschwabacher-webfont.woff2") format("woff2"), url("fonts/alteschwabacher-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'camelot';
  src: url("fonts/camelot-webfont.woff2") format("woff2"), url("fonts/camelot-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body.before_1500 {
  font-family: "schwabacher";
  font-size: 3.3rem; }
  body.before_1500 h1 {
    color: #a8432f; }
  body.before_1500 h2,
  body.before_1500 h3,
  body.before_1500 h4,
  body.before_1500 h5,
  body.before_1500 h6 {
    color: #a8432f;
    margin-top: 2.75vw; }
  body.before_1500 p {
    text-align: justify;
    word-wrap: break-word;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  body.before_1500 a:link,
  body.before_1500 a:visited {
    color: #1c4d6d; }
  body.before_1500 a:hover,
  body.before_1500 a:active {
    color: #a8432f; }
  body.before_1500 > section:not(#references) > p:nth-child(odd)::first-letter,
  body.before_1500 .biblioItem:nth-child(odd) .biblioMarker {
    color: #a8432f;
    font-family: "schwabacher";
    font-size: 9rem;
    line-height: .85;
    margin-left: -.3rem;
    float: left; }
  body.before_1500 > section:not(#references) > p:nth-child(even)::first-letter,
  body.before_1500 .biblioItem:nth-child(even) .biblioMarker {
    color: #1c4d6d;
    font-family: "schwabacher";
    font-size: 9rem;
    line-height: .85;
    margin-left: -.3rem;
    float: left; }
  body.before_1500 > section:not(#references) > p:first-of-type::first-letter {
    color: #1c4d6d;
    font-family: "camelot";
    font-size: 25rem;
    line-height: .9;
    margin-left: -.3rem;
    float: left; }

body.before_1500 figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2.75vw;
  border: 10rem solid transparent;
  border-image-source: url(../img/medieval-frame.svg);
  border-image-slice: 100;
  border-image-repeat: stretch; }
  @media only screen and (max-width: 75em) {
    body.before_1500 figure {
      flex-direction: column; } }
  @media only screen and (max-width: 56.25em) {
    body.before_1500 figure {
      border: 1rem solid transparent;
      border-image-source: url(../img/border-image.svg);
      border-image-slice: 10;
      border-image-repeat: repeat; } }
  body.before_1500 figure img {
    padding: 1rem;
    width: calc(30.35vw - 11rem); }

@media only screen and (max-width: 75em) and (max-width: 75em) {
  body.before_1500 figure img {
    width: calc(66.6667vw - 22rem);
    margin-bottom: 2.75vw; } }
    @media only screen and (max-width: 56.25em) {
      body.before_1500 figure img {
        width: calc(66.6667vw - 4rem); } }
  body.before_1500 figure figcaption p {
    column-count: 1;
    margin-left: 5.5vw; }
    @media only screen and (max-width: 75em) {
      body.before_1500 figure figcaption p {
        margin-left: 0; } }

body.before_1500 table {
  font-size: inherit;
  max-width: 66.6667vw; }
  @media only screen and (max-width: 37.5em) {
    body.before_1500 table {
      font-size: 50%; } }

body.before_1500 table, body.before_1500 th, body.before_1500 td {
  border: 1rem solid transparent;
  border-image-source: url(../img/border-image.svg);
  border-image-slice: 10;
  border-image-repeat: repeat;
  text-align: center;
  padding: 1rem; }
  @media only screen and (max-width: 56.25em) {
    body.before_1500 table, body.before_1500 th, body.before_1500 td {
      border: 1px solid black;
      border-image-source: none;
      border-collapse: collapse;
      padding: 0; } }

body.before_1500 table tr:hover {
  background-color: #1c4d6d;
  color: #f0e8db; }

body.before_1500 table caption {
  border-top: 15rem solid transparent;
  border-image-source: url(../img/medieval-frame.svg);
  border-image-slice: 150;
  border-image-repeat: repeat;
  margin-top: 2.75vw;
  padding: 1rem; }
  @media only screen and (max-width: 56.25em) {
    body.before_1500 table caption {
      border-top: 1rem solid transparent;
      border-image-source: url(../img/border-image.svg);
      border-image-slice: 10;
      border-image-repeat: repeat; } }

body.before_1500 table caption p {
  column-count: 1; }

body.before_1500 #Cover .byline {
  border: 1rem solid transparent;
  border-image-source: url(../img/border-image.svg);
  border-image-slice: 10;
  border-image-repeat: repeat;
  margin: 5.5vw 0; }

body.before_1500 #Cover .label {
  color: #1c4d6d;
  font-weight: 700; }

body.before_1500 #Cover p {
  text-align: center; }

body.before_1500 #Cover,
body.before_1500 #Summary {
  padding: 2.75vw;
  margin-bottom: 5.5vw;
  border: 10rem solid transparent;
  border-image-source: url(../img/medieval-frame.svg);
  border-image-slice: 100;
  border-image-repeat: repeat; }
  @media only screen and (max-width: 56.25em) {
    body.before_1500 #Cover,
    body.before_1500 #Summary {
      border: 1rem solid transparent;
      border-image-source: url(../img/border-image.svg);
      border-image-slice: 10;
      border-image-repeat: repeat; } }
  body.before_1500 #Cover p,
  body.before_1500 #Summary p {
    column-count: 1; }
