@mixin clearfix {
    &::after, 
    &::before {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin dropcap {
    font-family: "schwabacher";
    font-size: 9rem;
    line-height: .85;
    margin-left: -.3rem;
    float: left;
}

@mixin special-dropcap {
    color: $color-blue;
    font-family: "camelot";
    font-size: 25rem;
    line-height: .9;
    margin-left: -.3rem;
    float: left;
}

@mixin border-large {
    border-style: solid;
    border-width: 10rem;
    border-image-source: url(../img/medieval-frame.svg);
    border-image-slice: 100;
    border-image-outset: 1rem;
    border-image-repeat: repeat;
}

@mixin border-slim {
    border-style: solid;
    border-width: 1rem;
    border-image-source: url(../img/border-image.svg);
    border-image-slice: 10;
    border-image-repeat: repeat;
}

// MEDIA QUERY MANAGER
/*
0-600px:     Phone
600-900px:   Tablet portrait
900-1200px:  Tablet landscape
1200-1800px: Where our normal style apply
1800px+:     Big desktop
*/

// @mixin respond-phone {
//     @media (max-width: 600px) { @content };
// }

/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px

ORDER: Base + typography > general layout + grid > page layout > components
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; // 600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; // 900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; // 1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; // 1800px
    }
}


// AROUND 2040
@mixin glow {
    text-shadow: 0 0 .5rem $color-led-azure;
}

@mixin black-mirror {
    background-color: black;
    opacity: .9;
}

@mixin glitch {
    &::before,
    &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
    }

    &:before{
        left: .2rem;
        // text-shadow: -.1rem 0 $color-led-yellow;
        animation: glitch-anim-1 2s infinite linear alternate-reverse;
        background-color: black;
    }

    &:after {
        left: -.2rem;
        animation: glitch-anim-2 2s infinite linear alternate-reverse;
        background-color: black;
    }
}