body {
    &.before_1500 {
        .foot {
            margin-top: 11vw;

            p {
                column-count: 1;
            }

            @include border-large;

            @include respond(tab-port) {
                @include border-slim;
            }
        }
    }

    &.around_2040 {
        .foot {
            @include black-mirror;
            width: 100%;
            display: flex;
            order: 2;
            justify-content: center;
            position: relative;

            animation: 1s ease-out 0s 1 moveInBottom;

            --margin-hor: calc((100% - 72rem) / 2);
            clip-path: polygon(0% 100%, 100% 100%, 100% 0%, calc(var(--margin-hor) + 72rem + 1rem) 0%, calc(var(--margin-hor) + 72rem) 23%, var(--margin-hor) 23%, calc(var(--margin-hor) - 1rem) 0%, 0% 0%);

            &__content {
                width: 72rem;
                font-size: 48%;
                text-align: center;

                p:first-child {
                    margin-top: 3.6rem;
                    margin-bottom: 0;
                }
                p:last-child {
                    margin: 1.2rem 0;
                }
            }

            &::after {
                content: "\\\\";
                @include slash;
                top: 0;
                left: calc(var(--margin-hor) - 2.4rem);
            }

            &::before {
                content: "//";
                @include slash;
                top: 0;
                left: calc(var(--margin-hor) + 72rem + .2rem);
            }

            @include respond(phone) {
                clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 97% 0%, 96% 23%, 4% 23%, 3% 0%, 0% 0%);

                &::after {
                    content: "\\\\";
                    @include slash;
                    top: 0;
                    left: 0;
                }

                &::before {
                    content: "//";
                    @include slash;
                    top: 0;
                    left: 96%;
                }

                &__content {
                    width: auto;
                }
            }
        }
    }

    &.late_20th {
      .foot {
          column-span: all;
          text-align: center;
          display: flex;
          margin-top: 50px;
          border: 5px solid #ccc;

          &__content {
            padding: 2rem 2rem;
          }
       }
    }

    &.early_20th {
      .foot {
          width: 450px; // 450px
          height: 168px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          margin-top: 15px;
          border: 10px solid $bauhaus-red;
          background-color: $bauhaus-back;

          &__content {
            // padding-top: 5px;
            padding: 0 5px 0 5px;
          }
       }
    }
}
