body {
    &.around_2040 {
        .foot {
            @include black-mirror;
            width: 100%;
            padding: 2.4rem;
            display: flex;
            justify-content: center;
            position: relative;

            --margin-hor: calc((100% - 72rem) / 2);
            clip-path: polygon(0% 100%, 100% 100%, 100% 0%, calc(var(--margin-hor) + 72rem + 4.8rem) 0%, calc(var(--margin-hor) + 72rem) 20%, var(--margin-hor) 20%, calc(var(--margin-hor) - 4.8rem) 0%, 0% 0%);          
              
            &__content {
                width: 72rem;
                font-size: 48%;
                text-align: center;
            }

            @include respond(phone) {
            }

            &::after {
                font-family: "tron";
                content: "\\\\";
                color: $color-grey-smoke;
                @include glow;
                display: inline-block;
                position: absolute;
                top: 4.8;
                left: calc(var(--margin-hor) - 4.8rem);
            }

            &::before {
                font-family: "tron";
                content: "//";
                color: $color-grey-smoke;
                @include glow;
                display: inline-block;
                position: absolute;
                top: 4.8;
                left: calc(var(--margin-hor) + 72rem + 2rem);
            }
        }
    }
}