body.before_1500 {

    & #Cover {
        & .byline {
            @include border-slim;
            margin: 5.5vw 0;
        }

        & .label {
            color: $color-blue;
            font-weight: 700;
        }

        & p {
            text-align: center;
        }
    }

    & #Cover, 
    & #Summary {
        padding: 2.75vw;
        margin-bottom: 5.5vw;
        @include border-large;

        @include respond(tab-port) {
            @include border-slim; 
        }

        & p {
            column-count: 1;
        }
    }
}