body.before_1500 {

    & #Cover {
        & .byline {
            border: 1rem solid transparent;
            border-image-source: url(../img/border-image.svg);
            border-image-slice: 10;
            border-image-repeat: repeat;
            margin: 5.5vw 0;
        }

        & .label {
            color: $color-blue;
            font-weight: 700;
        }

        & p {
            text-align: center;
        }
    }

    & #Cover, 
    & #Summary {
        // grid-column: 1 / 3;
        // flex: 0 1 66.6667vw;

        padding: 2.75vw;
        margin-bottom: 5.5vw;
        border: 10rem solid transparent;
        border-image-source: url(../img/medieval-frame.svg);
        border-image-slice: 100;
        border-image-repeat: repeat;

        @include respond(tab-port) {
            border: 1rem solid transparent;
            border-image-source: url(../img/border-image.svg);
            border-image-slice: 10;
            border-image-repeat: repeat;
        }

        & p {
            column-count: 1;
        }
    }
}