body.around_2040 {
    height: 100vh;
    overflow: hidden;

    & .container {
        overflow: auto;
        order: 1;
    }

    & .tablet {
        width: 72rem;
        overflow: auto;
        @include black-mirror;
        order: 1;
        padding: 2.4rem;
        scroll-behavior: smooth;

        ::selection {
            color: $color-blade-runner-fog;
            background-color: $color-led-yellow;
        }

        &::-webkit-scrollbar {
            width: 1rem;
            height: 1rem;
            background-color: $color-blade-runner-fog;
        }

        &::-webkit-scrollbar-thumb {
            border: 1px solid $color-led-yellow;
        }

        @include respond(phone) {
            width: 100vw;
            margin: 2.4vw 0;
            
            padding: 9.6rem; // 2.4 * 3

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
                background-color: transparent;
            }
    
            &::-webkit-scrollbar-thumb {
                border: none;
            }
        }
    }
}