body.around_2040 {
    height: 100vh;
    overflow: hidden;

    @include respond(phone) {
        height: auto;
        overflow: auto;
    }

    & .tablet {
        width: 72rem;
        overflow: auto;
        @include black-mirror;

        padding: 2.4rem;

        ::selection {
            color: $color-blade-runner-fog;
            background-color: $color-led-yellow;
        }

        &::-webkit-scrollbar {
            width: 1rem;
            height: 1rem;
            background-color: $color-blade-runner-fog;
        }

        &::-webkit-scrollbar-thumb {
            border: 1px solid $color-led-yellow;
        }

        @include respond(phone) {
            width: 100vw;
            margin: 2.4vw 0;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
                background-color: transparent;
            }
    
            &::-webkit-scrollbar-thumb {
                border: none;
            }
        }
    }
}