.biblioRef {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -.5em;

    &::before {
        content: "[";
    }

    &::after {
        content: "]";
    }
}

