.btn {
    &,
    &:link,
    &:visited {
        font-family: inherit;
        padding: .5rem;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;

        // Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--color {
        &:hover {
            transform: translateY(-.3rem);
            box-shadow: 0 1rem 2rem rgba($color-black,.2);
    
            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }
        
        &:active {
            outline: none;
            transform: translateY(-.1rem);
            box-shadow: 0 .5rem 1rem rgba($color-black,.2);
        }
    }
    
    &--animated-up {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &--animated-down {
        animation: moveInTop .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

body{
    &.before_1500 {
        .btn {
            box-shadow: 0 1rem 3rem rgba($color-black, 1);

            &--color {
                background-color: $color-blue;
        
                &::after {
                    background-color: $color-blue;
                }
                &.changed::after {
                    background-color: $color-red;
                }
            }          
        }
    }

    &.around_2040 {
        .btn {
            box-shadow: 0 1rem 3rem rgba(black, 1);

            &--color {
                background-color: $color-led-azure;
        
                &::after {
                    background-color: $color-led-azure;
                }
                &.changed::after {
                    background-color: $color-led-yellow;
                }
            }
        }
    }

    &.early_20th {
        .btn {
            box-shadow: 0 1rem 3rem rgba($bauhaus-dark, 1);

            &--color {
                background-color: $bauhaus-red;

                &::after {
                    background-color: $bauhaus-red;
                }
                &.changed::after {
                    background-color: $bauhaus-dark;
                }
            }
        }
    }

    &.late_20th {
        .btn {
            box-shadow: 0 1rem 3rem rgba(#ccc, 1);

            &--color {
                background-color: white;

                &::after {
                    background-color: white;
                }
                &.changed::after {
                    background-color: #ccc;
                }
            }
        }
    }
}