body.before_1500 {
    figure {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @include respond(tab-land) {
            flex-direction: column;
        }
        
        padding: 1rem;
        margin-bottom: 2.75vw;
        @include border-large;

        @include respond(tab-port) {
            @include border-slim;
        }

        & img {
            width: calc(30.35vw - 11rem); // column-width (30.35vw) - margin (10rem) - padding (1rem)

            @include respond(tab-land) {
                width: calc(66.6667vw - 22rem); // column-width (66.6667vw) - 2 * margin (20rem) - 2* padding (2rem)
                margin-bottom: 2.75vw;
            }
        }

        & figcaption {

            & p {
                column-count: 1;
                margin-left: 5.5vw;

                @include respond(tab-land) {
                    margin-left: 0;
                }
            }
        }
    }
}

