.selector {
    position: fixed;
    right: 0;
    overflow: hidden;
    font-size: 83%;

    &__checkbox {
        display: none;
    }

    &__button {
        width: 5rem;
        height: 5rem;
        position: fixed;
        border-radius: 50%;
        z-index: 2000;
        text-align: center;
        cursor: pointer;

        @include respond(phone){
            width: 8rem;
            height: 8rem;
        }
    }

    &__background {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        position: absolute;
        z-index: 1000;

        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
        transition: all .8s cubic-bezier(0.83, 0, 0.17, 1);

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
    }

    &__nav {
        z-index: 1500;
        position: absolute;
        overflow: scroll;
        scroll-behavior: smooth;
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        & {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }

        opacity: 0;
        width: 0;
        transition: all .6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(120);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;    
    }

    &__icon {
        
        img {
            position: absolute;
            top: .7rem;
            left: .2rem;
            width: 4.5rem;
            height: 4.5rem;
        }
    }

    &__context {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__input {
        flex: 1;
    }

    &__tabs {
        border-radius: .8rem;
        box-shadow: 0 .4rem .4rem -.2rem rgba(0,0,0,0.5);
    }

    &__tab {
        width: 100%;
        overflow: hidden;

        &--label {
            display: flex;
            justify-content: space-between;
            padding: 1em;
            font-weight: bold;
            cursor: pointer;

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            user-select: none;
        
            &:hover {
                background: darken($color-blue, 10%);
            }
        
            &::after {
                content: "\276F";
                width: 1em;
                height: 1em;
                text-align: center;
                transition: all .35s;
            }
        }
      
        &--content {
            display: none;
            max-height: 0;
        }
    }

    &__article, &__issue {

        &--active {
            text-decoration: none;
            pointer-events: none;
            cursor: default;
        }
    }

    .themeSelector--active {
        text-decoration: none;
        pointer-events: none;
        cursor: default;
    }

    &__docbook {
        width: 100%;

        a {
            display: block !important;
            width: 90%;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;
        }
    }

    .index {
        &__btn {
            flex: 1;
            font-size: inherit;

            &--container {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: stretch;
            }
        }

        &__nextprevious {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &--next {
                text-align: right;
                cursor: pointer;
            }

            &--previous {
                cursor: pointer;
            }
        }

        &__checkbox {
            display: none;
        }

        &__checkbox:checked {
            + .selector__tab--label {

                &::after {
                    transform: rotate(90deg);
                }
            }
            ~ .selector__tab--content {
                max-height: 100%;
                display: block;
            }
        }
    }
}

body{
    &.before_1500 {
        .selector {
            top: 0;
            width: calc(22.2222vw - 5.5vw);
            height: 100vh;

            @include respond(tab-port) {
                border-radius: 1rem;
                transition: height .8s;
                height: 0;
                z-index: 1;
                width: calc(94.5vw - (100vw - 100%)); // Without scrollbar
                top: initial;
                left: 2.75vw;
                bottom: 2.75vw;
            }

            ::selection {
                background-color: $color-blue;
                color: $color-white;
            }
            
            &__button {
                bottom: 8.5vw;
                right: 2.75vw;

                @include respond(tab-port) {
                    bottom: 10rem;
                }

                @include respond(phone){
                    bottom: 12rem;
                }
            }

            &__svg {
                fill: $color-white;
            }

            &__background {
                bottom: 8.8vw;
                right: 3vw;
                background-image: radial-gradient(
                    $color-white,
                    $color-blue
                );

                @include respond(tab-port) {
                    top: initial;
                    bottom: 8.8vw;
                    right: .75vw;
                }
            }

            &__context {
                @include respond(tab-port){
                    margin-top: 2.75vw;
                }
            }

            &__nav {
                height: 100vh;
                padding-top: 11.1111vh;

                @include respond(tab-port) {
                    padding-top: 0;
                }
            }

            &__input {
                margin: 0 1.375vw 2.75vw 1.375vw;
            }

            &__tab {
                color: $color-white;
                background-color: $color-white;

                &--label {
                    background-color: $color-blue;
                }

                &--content {
                    background-color: $color-white;
                    color: $color-blue;

                    p {
                        column-count: 1;
                    }
                }
            }

            &__article, &__issue {

                &--active {
                    color: $color-black !important;
                }
            }

            .themeSelector--active {
                color: $color-black !important;
            }

            &__docbook {
                margin-bottom: 2.75vw;

                @include respond(tab-port){
                    margin: 2.75vw 0;
                }
            }

            .index {
                &__btn {
                    margin: 1.375vw 2.75vw 0 2.75vw;
                    // padding: 1.375vw 2.75vw;
                    white-space: pre-line;

                    @include respond(tab-land) {
                        padding: .6875vw 1.375vw;
                    }
                }

                &__list {
                    margin: 2.75vw;
                }

                &__item {
                    margin: 1.375vw 0;

                    @include respond(tab-port){
                        margin: 1.375vw 2.75vw;
                    }
                }

                &__checkbox:checked {
                    + .selector__tab--label {
                        background: darken($color-blue, 10%);
                    }
                }
            }

            a.anchor {
                display: block;
                position: relative;
                top: -28rem;
                visibility: hidden;
            }

            #indexOfDatesSort {
                img {
                    height: 3.3rem;
                    width: 3.3rem;
                }
            }

            #download {
                margin-bottom: 1.375vw;
            }
        }
    }

    &.around_2040 {
        .selector {
            width: calc((100vw - 72rem) / 2 - 2.4rem);
            height: 91vh;

            @include respond(tab-port) {
                border-radius: 1rem;
                transition: height .8s;
                height: 0;
                z-index: 1;
                width: calc(100vw - 4.8rem - (100vw - 100%));
                top: initial;
                left: 2.4rem;
                bottom: 11.5rem; // 2.4rem above footer
            }

            @include respond(phone) {
                bottom: 2.4rem;
            }
            
            ::selection {
                color: $color-blade-runner-fog;
                background-color: $color-led-yellow;
            }
            
            &__button {
                bottom: 18.9rem; // 2.4rem over metadata-viewer
                right: 2.4rem;

                @include respond(phone){
                    bottom: 13.9rem;
                }
            }

            &__svg {
                fill: $color-blade-runner-fog;
            }
            
            &__background {
                bottom: 10.7rem;
                right: 2.9rem;
                background-image: radial-gradient(
                    $color-blade-runner-fog,
                    black
                );

                @include respond(tab-port) {
                    top: initial;
                    right: .75rem;
                    bottom: .75rem;
                }
            }

            &__context {
                margin-top: 12.3rem; // 4.8rem below navbar, same as h1

                @include respond(tab-port){
                    margin-top: 0;
                }
            }

            &__nav {
                height: 79vh;
                margin-top: 12.3rem;

                @include respond(tab-port) {
                    margin-top: 0;
                }
            }

            &__input {
                margin: 0 1.2rem 2.4rem 1.2rem;
            }

            &__tab {
                color: $color-grey-smoke;
                background-color: black;

                &--label {
                    background-color: $color-grey-smoke;
                    color: $color-blade-runner-fog;
                }

                &--content {
                    background-color: black;
                    color: $color-grey-smoke;
                }
            }

            &__article, &__issue {

                &--active {
                    color: $color-grey-smoke;
                }
            }

            .themeSelector--active {
                color: $color-grey-smoke;
            }

            &__docbook {
                margin-bottom: 2.4rem;

                @include respond(tab-port){
                    margin: 2.4rem 0;
                }
            }

            .index {
                &__btn {
                    margin: 1.2rem 2.4rem 0 2.4rem;
                    padding: 1.2rem 2.4rem;
                }

                &__list {
                    margin: 2.4rem;
                }
    
                &__item {
                    margin: 2.4rem;
                }

                &__checkbox:checked {
                    + .selector__tab--label {
                        background: darken($color-grey-smoke, 24%);
                    }
                }
            }

            a.anchor {
                display: block;
                position: relative;
                top: -20rem;
                visibility: hidden;
            }

            #indexOfDatesSort {
                img {
                    height: 2.4rem;
                    width: 2.4rem;
                }
            }
        }
    }

        &.early_20th {
            .selector {
                top: 0;
                width: calc((100vw - 900px)/2);
                height: 100vh;

            @include respond(tab-port) {
                border-radius: 1rem;
                transition: height .8s;
                height: 0;
                z-index: 1;
                width: calc(94.5vw - (100vw - 100%)); // Without scrollbar
                top: initial;
                left: 2.75vw;
                bottom: 2.75vw;
            }

            ::selection {
                background-color: $bauhaus-dark;
                color: $bauhaus-back;
            }


            &__button {
                bottom: 8.5vw;
                right: 2.75vw;
                background-color: $bauhaus-red;

                @include respond(tab-port) {
                    bottom: 10rem;
                }

                @include respond(phone){
                    bottom: 12rem;
                }
            }

            &__svg {
                fill: $bauhaus-back;
            }

            &__background {
                bottom: 8.8vw;
                right: 3vw;
                background-image: radial-gradient(
                    $bauhaus-dark,
                    $bauhaus-red
                );

                @include respond(tab-port) {
                    top: initial;
                    bottom: .75vw;
                    right: .75vw;
                }
            }

            &__context {
                @include respond(tab-port){
                    margin-top: 2.75vw;
                }
            }

            &__nav {
                height: 100vh;

                @include respond(tab-port) {
                    top: 0;
                }
            }

            &__tab {
                color: $bauhaus-back;
                background-color: $bauhaus-back;

                &--label {
                    background-color: $bauhaus-dark;
                }

                &--content {
                    background-color: $bauhaus-back;
                    color: $bauhaus-dark;
                }
            }

            &__article, &__issue {

                &--active {
                    color: $bauhaus-dark !important;
                }
            }

            .themeSelector--active {
                color: $bauhaus-dark !important;
            }

            &__docbook {
                margin-bottom: 2.75vw;

                @include respond(tab-port){
                    margin: 2.75vw 0;
                }
            }

            .index {
                &__btn {
                    margin: 1.2rem;
                    padding: 1.2rem 2.4rem;
                }

                &__list {
                    margin: 1.2rem;
                }

                &__item {
                    margin: 1.2rem;
                }

                &__checkbox:checked {
                    + .metadata__tab--label {
                        background: darken($bauhaus-dark, 10%);
                    }
                }
            }

            a.anchor {
                display: block;
                position: relative;
                top: -11rem;
                visibility: hidden;
            }

            #indexOfDatesSort {
                img {
                    height: 3.3rem;
                    width: 3.3rem;
                }
            }
        }
    }

    &.late_20th {

        .selector {
            top: 0;
            width: calc((100vw - 800px)/2);
            height: 100vh;

            @include respond(tab-port) {
                border-radius: 1rem;
                transition: height .8s;
                height: 0;
                z-index: 1;
                width: calc(94.5vw - (100vw - 100%));
                top: initial;
                left: 2.75vw;
                bottom: 2.75vw;
            }

            &__button {
                bottom: 8.5vw;
                right: 2.75vw;
                background-color: white;

                @include respond(tab-port) {
                    bottom: 10rem;
                }

                @include respond(phone){
                    bottom: 12rem;
                }
            }

            &__svg {
                fill: black;
            }

            &__background {
                bottom: 8.8vw;
                right: 3vw;

                background-image: radial-gradient(
                    white,
                    #ccc
                );

                @include respond(tab-port) {
                    top: initial;
                    bottom: .75vw;
                    right: .75vw;
                }
            }

            // &__context {

            //     @include respond(tab-port){
            //         margin-top: 2.75vw;
            //     }
            // }

            &__nav {
                height: 100vh;
                top: calc(2em + 5px);

                @include respond(tab-port) {
                    top: 0;
                }
            }

            &__tab {
                color: black;
                background-color: #ccc;

                &--label {
                    background-color: #ccc;
                }

                &--content {
                    background-color: #ccc;
                    color: #ccc;
                }
            }

            &__article, &__issue {

                &--active {
                    color: black !important;
                }
            }

            .themeSelector--active {
                color: black !important;
            }

            &__docbook {
                margin-bottom: 2.75vw;

                @include respond(tab-port){
                    margin: 2.75vw 0;
                }
            }

            .index {
                &__btn {
                    margin: 2.4rem;
                    padding: 1.2rem 2.4rem;
                }

                &__list {
                    margin: 2.4rem;
                }

                &__item {
                    margin: 2.4rem;
                }
                &__link {
                  color: black;
                  :visited {
                    color: inherit;
                  }
                }

                &__checkbox:checked {
                    + .metadata__tab--label {
                        background: darken(#ccc, 10%);
                    }
                }
            }

            a.anchor {
                display: block;
                position: relative;
                top: -11rem;
                visibility: hidden;
            }

            #indexOfDatesSort {
                img {
                    height: 3.3rem;
                    width: 3.3rem;
                }
            }
        }
    }
}



