*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; // 1rem = 10px; 10/16 = 62.5%
    
    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) { // width < 900? THE ORDER MATTERS
        font-size: 50%; // 1 rem = 8px, 8/16 = 50% 
    }

    // @include respond(phone) { // width < 600?
    //     font-size: 50%; // 1 rem = 7px, 8/16 = 43.75%
    // }
}

body {
    box-sizing: border-box;
    
    &.before_1500 {

        // The ratio of the width of the page to the width of the textbox 3/2. 3:100vw = 2:66.6667vw
        margin-top: 11.1111vh; // calc((100vh - 66.6667vh) / 3)
        margin-bottom: 22.2222vh ; // calc((100vh - 66.6667vh) / 3 * 2 - 5.5vw)
        margin-left: 11.1111vw; // calc((100vw - 66.6667vw) / 3)
        margin-right: 22.2222vw; // calc((100vw - 66.6667vw) / 3 * 2)

        background-color: $color-white;
        background-image: linear-gradient(
            to right, 
            rgb(23,13,11),
            rgba(107,90,72,.4) 0.2%, 
            rgba(240,232,219,.4) 10%,
            rgba(240,232,219,.4) 90%,
            rgba(107,90,72,.4) 99.8%,
            rgb(23,13,11) 100%);

        & p {
            column-count: 2;
            column-gap: 5.5vw;

            @include respond(tab-port) {
                column-count: 1;
            }
        }

        & p:not(:last-child) {
            margin-bottom: 2.75vw; 
        }

        ::selection {
            background-color: $color-blue;
            color: $color-white;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 1rem rgba(0,0,0,0.3);
            background-color: $color-white;
        }
        
        &::-webkit-scrollbar {
            width: 2.5rem;
        }
        
        &::-webkit-scrollbar-thumb {
            background-image: url(../img/move_type.jpg);
            background-size: auto;
            height: 8rem;
            border-top-left-radius: 15%;
            border-top-right-radius: 15%;
            border-bottom-left-radius: 15%;
            border-bottom-right-radius: 15%;
        }
    }
}