@font-face {
    font-family: 'schwabacher';
    src: url('fonts/alteschwabacher-webfont.woff2') format('woff2'),
         url('fonts/alteschwabacher-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'camelot';
    src: url('fonts/camelot-webfont.woff2') format('woff2'),
         url('fonts/camelot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tron';
    src: url('fonts/tr2n-webfont.woff2') format('woff2'),
         url('fonts/tr2n-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'electrolize';
    src: url('fonts/electrolize-regular-webfont.woff2') format('woff2'),
         url('fonts/electrolize-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//////////////////////////////////////
///////// BEFORE 1500
body {
    &.before_1500 {
        font-family: "schwabacher";
        font-size: 3.3rem;
        color: $color-black;
    
        & h1 {
            color: $color-red;
        }
    
        & h2,
        & h3,
        & h4,
        & h5,
        & h6 {
            color: $color-red;
            margin-top: 2.75vw;
        }
    
        & p {
            text-align: justify;
            word-wrap: break-word;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }
    
        & a:link, 
        & a:visited {
            color: $color-blue;
        }
    
        & a:hover, 
        & a:active {
            color: $color-red;
        }
    
        // Drop Caps
        & > section:not(#references) > p:nth-child(odd)::first-letter,
        & .biblioItem:nth-child(odd) .biblioMarker {
            color: $color-red;
            @include dropcap;
        }
    
        & > section:not(#references) > p:nth-child(even)::first-letter,
        & .biblioItem:nth-child(even) .biblioMarker {
            color: $color-blue;
            @include dropcap;
        }
    
        & > section:not(#references) > p:first-of-type::first-letter {
            @include special-dropcap;
        } 
    }


    //////////////////////////////////////
    ///////// AROUND 2040
    &.around_2040 {
        font-family: "electrolize", sans-serif;
        font-size: 2.4rem;
        color: $color-grey-smoke;

        & h1, 
        & h2,
        & h3,
        & h4,
        & h5,
        & h6 {
            font-family: "tron";
            position: relative;
            @include glow;
            @include glitch;
        }
    }
}